.hidden {
  display: none;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 100%;}
}


p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#sitecontainer{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 1300px;
  background-color: #e6e3e1;
}

#mainheader {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999796;
}
#titleheader {
  font-size: 150px;
  color: #fff;
  font-family: 'Bebas Neue', cursive;
}

#selectionbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#longlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 30px;
}
li {
  font-family: 'Noto Sans JP', sans-serif;
  color: #fff;
}
a:visited {
  color: #000;
}
a:hover {
  color: #fff;
}
a {
  color: #000;
}
p::first-letter {
  font-size: 30px;
  font-weight: bold;
}
.teambox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px;
  animation: fadein 1s linear;
}

.photobox {
  border-radius: 500px;
  border-style: solid;
  border-width: 8px;
  border-color: #fff;
}
.teamdetails {
  width: 600px;
  margin: 30px;
}
